[defaults]
host_key_checking = False
# callback_whitelist = profile_tasks

[galaxy]
server_list = automation_hub, galaxy 

[galaxy_server.automation_hub]
url={{ automation_hub_url }}
auth_url={{ automation_hub_auth_url }}
token={{ hub_offline_token }}

[galaxy_server.galaxy]
url=https://galaxy.ansible.com